.Weather-Container {
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  button.MuiButton-contained {
    background-color: #007bff; 
    color: #ffffff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-transform: none; 
  }
  
  button.MuiButton-contained:hover {
    background-color: #0056b3; 
  }